@charset "UTF-8";
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  line-height: 1.3;
  font-size: 16px;
}

button {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

a {
  cursor: pointer;
}

input[type=text],
input[type=tel],
input[type=email],
input[type=esubmit],
button,
select,
textarea {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

body {
  overflow-x: hidden;
}

header .header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  width: 100vw;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 45px;
}
header .header-wrapper .header-left h1 {
  text-align: center;
  padding-top: 20px;
}
header .header-wrapper .header-left h1 img {
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
header .header-wrapper .header-left .hd-h1 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #667581;
  letter-spacing: 2px;
  padding-left: 14px;
  font-family: "Crimson Text", serif;
}
header .header-wrapper .header-right {
  display: flex;
  align-items: center;
}
header .header-wrapper .header-right .i {
  padding-right: 25px;
}
header .header-wrapper .header-right .hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  padding-left: 10px;
  margin-top: 10px;
  z-index: 100;
}
header .header-wrapper .header-right .hamburger:hover {
  opacity: 0.5;
}
header .header-wrapper .header-right .hamburger:hover span:first-child {
  width: 50%;
  opacity: 0.5;
}
header .header-wrapper .header-right .hamburger:hover span:nth-child(2) {
  opacity: 0.5;
  transform: scale(0.7, 1); /*X方向0、Y方向1*/
  transform-origin: right top; /*左上基点*/
}
header .header-wrapper .header-right .hamburger:hover span:nth-child(3) {
  opacity: 0.5;
  transform: scale(0.4, 1); /*X方向0、Y方向1*/
  transform-origin: right top; /*左上基点*/
}
header .header-wrapper .header-right .hamburger span {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #000;
  transition: 0.5s;
}
header .header-wrapper .header-right .hamburger span:first-child {
  top: 0;
}
header .header-wrapper .header-right .hamburger span:nth-child(2) {
  top: 25%;
}
header .header-wrapper .header-right .hamburger span:nth-child(3) {
  top: 50%;
}

.slide-menu {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 300px;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s; /* 追記 */
}

.slide-menu li {
  color: #fff;
  line-height: 400%;
  text-align: center;
}

/* ここから下を追記 */
.slide-menu.active {
  transform: translateX(0);
}

#first-view {
  position: relative;
  height: 100vh;
  margin-top: 90px;
}
#first-view .fv {
  position: absolute;
  left: 160px;
  top: 320px;
  z-index: 1;
}
#first-view .fv h2 {
  font-size: 35px;
  line-height: 35px;
  font-weight: 100;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
}
#first-view .fv h2 span {
  display: block;
  font-size: 12px;
  line-height: 22px;
  padding-top: 22px;
  letter-spacing: 2px;
}
#first-view .fv .scroll-text {
  position: relative;
}
#first-view .fv .scroll-text .scroll {
  font-size: 10px;
  line-height: 16px;
  color: #999;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.15em;
  position: absolute;
  top: 390px;
  transform: rotate(90deg);
}
#first-view .fv .scroll-text .scroll::after {
  position: absolute;
  content: "";
  display: block;
  width: 60px;
  top: 50%;
  left: 60px;
  height: 1px;
  background: #999;
  animation: 1s ease-in 0s infinite alternate forwards running expansion;
}
@keyframes expansion {
  0% {
    transform: scale(0);
    transform-origin: left top;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    transform-origin: right top;
  }
}
#first-view .fv-bg {
  position: absolute;
  top: 0;
  right: 0;
}
#first-view .fv-bg img {
  height: 100vh;
  width: 1208px;
  -o-object-fit: cover;
     object-fit: cover;
}

#about {
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}
#about .about-K h3 {
  font-family: "Crimson Text", serif;
  font-size: 28px;
  line-height: 24px;
  color: #2d2d2d;
}
#about .about-K h3 span {
  display: block;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  padding-top: 30px;
}
#about .about-K .about-text {
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  color: #2d2d2d;
  font-size: 12px;
  line-height: 22px;
  color: #2d2d2d;
  padding-top: 65px;
  margin-bottom: 48px;
}
#about .about-K .more-btn {
  border: 1px solid #000;
  width: 300px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#about .about-K .more-btn:hover {
  background-color: #000;
  color: #fff;
}
#about .about-K .more-btn p {
  font-family: "Crimson Text", serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.2em;
}
#about .about-img img {
  width: 594px;
  height: 533px;
}

#product {
  padding: 0 150px;
  margin-bottom: 140px;
}
#product h3 {
  font-family: "Crimson Text", serif;
  font-size: 28px;
  line-height: 24px;
  color: #2d2d2d;
  margin-bottom: 70px;
}
#product h3 span {
  display: block;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  padding-top: 30px;
}
#product .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 65px 40px;
  margin-bottom: 60px;
}
#product .products .products-item {
  width: 365px;
  height: 430px;
  overflow: hidden;
}
#product .products .products-item img {
  width: 100%;
  height: 365px;
  transition: transform 0.6s ease; /* ゆっくり変化させる */
}
#product .products .products-item:hover img {
  transform: scale(1.1); /* 拡大 */
  filter: brightness(1.2);
}
#product .products .products-item .product-name {
  font-family: "Crimson Text", serif;
  font-size: 14px;
  line-height: 17px;
  color: #2d2d2d;
  padding-top: 20px;
  letter-spacing: 0.15em;
}
#product .products .products-item .fee {
  font-family: "Crimson Text", serif;
  font-size: 13px;
  line-height: 13px;
  color: #999999;
  padding-top: 10px;
  letter-spacing: 0.15em;
}
#product .more-btn {
  border: 1px solid #000;
  width: 450px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 110px;
}
#product .more-btn:hover {
  background-color: #000;
  color: #fff;
}
#product .more-btn p {
  font-family: "Crimson Text", serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
}
#product .brand {
  margin-bottom: 64px;
}
#product .brand h4 {
  font-size: 16px;
  line-height: 16px;
  color: #2d2d2d;
  letter-spacing: 0.15em;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  text-align: center;
  margin-bottom: 60px;
}
#product .brand .brand-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px 40px;
}
#product .brand .brand-list li {
  border: 1px solid #ababab;
  width: 355px;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 12px;
  line-height: 16px;
  color: #2d2d2d;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  letter-spacing: 0.15em;
}
#product .about-company {
  display: flex;
  justify-content: space-around;
}
#product .about-company .story {
  width: 545px;
  height: 100px;
  border: 1px solid #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product .about-company .story:hover {
  background-color: #000;
  color: #fff;
}
#product .about-company .story p {
  letter-spacing: 0.15em;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  font-size: 16px;
}
#product .about-company .company {
  width: 545px;
  height: 100px;
  border: 1px solid #2d2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product .about-company .company:hover {
  background-color: #000;
  color: #fff;
}
#product .about-company .company p {
  letter-spacing: 0.15em;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  font-size: 16px;
}

#news {
  padding: 0 150px;
  margin-bottom: 140px;
}
#news h3 {
  font-family: "Crimson Text", serif;
  font-size: 28px;
  line-height: 24px;
  color: #2d2d2d;
  margin-bottom: 70px;
}
#news h3 span {
  display: block;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  font-size: 12px;
  line-height: 24px;
  color: #999999;
  padding-top: 30px;
}
#news dl {
  display: flex;
  align-items: flex-start;
}
#news dl + dl {
  margin-top: 32px;
}
#news dl dt {
  text-align: center;
  margin-right: 25px;
  color: #2d2d2d;
  font-size: 14px;
  line-height: 20px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.15em;
}
#news dl dt span {
  display: block;
}
#news dl dd {
  border-left: 1px solid #999;
  font-size: 14px;
  line-height: 21px;
  color: #2d2d2d;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  letter-spacing: 0.15em;
  padding-left: 20px;
}
#news .more-btn {
  width: 450px;
  height: 48px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 130px auto 0;
  margin-bottom: 190px;
}
#news .more-btn:hover {
  background-color: #000;
  color: #fff;
}
#news .more-btn p {
  font-size: 12px;
  line-height: 16px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.15em;
}
#news .scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  height: auto;
  transition: all 0.5s;
}
#news .scroll:hover::after {
  transform: translateY(-30px);
  transition: all 0.5s;
  transition-duration: 0.5s;
}
#news .scroll::after {
  transition-duration: 1s;
  content: "";
  display: block;
  position: absolute;
  background-color: #000;
  width: 1px;
  height: 60px;
  left: 50%;
  top: -65px;
}
#news .scroll p {
  font-size: 12px;
  line-height: 16px;
  color: #2d2d2d;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
}

footer {
  height: 90px;
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}
footer .ft-left {
  display: flex;
}
footer .ft-left .ft-logo {
  display: flex;
  flex-direction: row-reverse;
  font-size: 40px;
  line-height: 20px;
  font-weight: 700;
  color: #657580;
  letter-spacing: 2px;
  padding-left: 14px;
  font-family: "Crimson Text", serif;
}
footer .ft-left .ft-logo img {
  width: 35px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .ft-left .ft-logo p {
  padding-top: 12px;
  padding-left: 0.1em;
}
footer .ft-left .policy {
  padding-left: 50px;
  font-size: 10px;
  line-height: 16px;
  color: #2d2d2d;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
}
footer .ft-left .law {
  padding-left: 24px;
  font-size: 10px;
  line-height: 16px;
  color: #2d2d2d;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
}
footer .ft-right {
  text-align: right;
}
footer .ft-right i {
  padding-left: 30px;
  color: #667581;
}
footer .ft-right .copy {
  padding-top: 5px;
  font-size: 10px;
  line-height: 16px;
  color: #999;
  font-family: 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", HG明朝E, "ＭＳ Ｐ明朝", serif;
  letter-spacing: 0.15em;
}

.fade-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  animation: fadeIn 3s;
  animation-fill-mode: both;
}

.fadeout {
  animation: fadeOut 1s;
  animation-fill-mode: both;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */